@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
	--light-green: #1bf38a;
}
/*Element selectors*/

h1, h2, h3, h4{
	display: inline;
	color: var(--light-green);
	font-size: 20px;
}


h2 {
	font-size: 25px;
}

body {
	margin: 0px;
	font-size: 18px;
	font-family: 'Poppins', sans-serif;
	background: #0f0c29; 
	background: -webkit-linear-gradient(to right, #24243e, #302b63);  
	background: linear-gradient(to right, #24243e, #302b63); 
}

li {
	color: cyan;
}

#headimg {
	border-radius: 50%; 
	width: 150px; 
	height: auto;
	border: 5px solid #3a2cd6;
}
.profile {
	display: flex;
	flex-wrap: wrap;
}
.info {
	margin-left: 20px;
}
.contact {
	display: flex;
	flex-wrap: wrap;
}
.number {
	margin-left: 82px;
}
#email {
	color: #1bf38a;
}

.edu {
	font-size: 15px;
}
.year {
	display: inline;
	color: cyan;
}

.links li {
	color: var(--light-green);
}
.links li a:visited {
	color: rgba(29, 177, 83, 0.436);
}

.hobbies li {
	color:rgb(137, 244, 176);
}