@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');



h1, h2, h3, h4 {
	display: inline;
	color: #729fcf;
	font-size: 20px;
}

.year {
	display: inline;
	color: cyan;
}


body {
	overflow: hidden;
	font-size: 18px;
	font-family: 'Poppins', sans-serif;
	color: #b175c7;
	background-color: #262626;
} 


.headh1 {
	width: 1350px;
}

li {
	color: cyan;
}

#headimg {
	border-radius: 50%; 
	width: 150px; 
	height: auto;
}

